.chart-dialog {
   min-width: 350px;
   min-height: 400px;
   background-color: white !important;
   padding: 0 !important;
   overflow-x: hidden !important;
   position: relative;

   .chart-view,
   .table-view {
      height: 100%;
      position: absolute;
      width: 100%;
      font-size: 14px;
   }
   .table-view {
      width: 100%;
      left: 100%;
      overflow-y: auto;

      table {

         th.sorting_desc { background-image: none !important; cursor: inherit !important; }
         th, td { text-align: left; padding: 1px 3px !important; }
         td { font-size: 14px; }

         th:nth-child(1),
         td:nth-child(1) { text-align: center; min-width: 75px; }
      }
      .arrow-images {
         margin-bottom: -2px;
         margin-left: -5px;
         width: 10px;
         height: 10px;
      }
      .dataTables_filter {
         display: none;
      }
   }
   .close {
      display:none;
      position: absolute;
      z-index: +1;
      background: #e98024;
      border: 1px solid #e98024;
      border-radius: 0 0 4px 0;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      padding: 0px 10px;
   }

   .chart-view {
      .highcharts-subtitle {
         .chart-delay {
            display: block;
            text-align: center;
            margin-bottom: 0.2em;
            color: #C03;
         }

         .wt-line {
            margin-bottom: 3px;
            margin-left: 10px;
            height: 0;
            width: 20px;
            border: 0;
            border-bottom: 2px;
            border-color: #e98024;
            display: inline-block;
         }
         .wt-line-solid { border-style: solid; }
         .wt-line-dashed { border-style: dashed; }

         .wt-circle {
            margin-left: 10px;
            display: inline-block;
            border-radius: 6px;
         }
         .wt-circle-empty {
            width: 4px;
            height: 4px;
            border: 3px solid orange;
         }
         .wt-circle-fill {
            width:10px;
            height: 10px;
            background-color: orange;
         }
      }
      &.hide-subtitle {
         .highcharts-subtitle {
            display: none;
         }
      }
      .highcharts-container {
        &:hover {
          .highcharts-plot-line-label {
            display: none !important;
          }
        }
        .highcharts-plot-line-label {
          &:after {
            left: 100%;
            top: 0;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-left-color: #c03;
            border-width: 7px 0 7px 12px;
          }
        }
        .highcharts-tooltip {
            display: block !important;
            transform: translate(5px, 5px) !important;
            > .highcharts-tooltip-box {
              display: none;
            }
            > .highcharts-tooltip-box:nth-child(1) {
              display: block;
              stroke: transparent !important;
              fill: rgba(0,0,0, 0.55);
            }
            text {
              fill: white !important;
            }
        }
      }
   }
}



.chartSubContainerHeader {
  margin: 0 5px;
}
.dataTables_processing {
  z-index: 1; /* fix for processing message wile refreshing databases */
} 
