.webtrader-charts-dialog {
   background: white;
   outline: 0;
   .ui-dialog-titlebar {
      padding: 5px 5px;
      position: relative;
      .ui-dialog-titlebar-close {
         text-indent: 100%;
         white-space: nowrap;
         width: 14px;
         height: 14px;
         padding: 0;
         position: absolute;
         top: 50%;
         right: 0.3em;
         overflow: hidden;
         background: transparent;
         cursor: pointer;
         background-image: url('./images/close.svg') !important;
         margin: -7px 0 0 0;

         .ui-icon-closethick { display: none; } 
      }
   }
  .ui-dialog-buttonpane {
    padding: 0;
    margin: 0;
    background: white;
    button {
      box-sizing: border-box;
      margin: 5px 3px;
      border-radius: 3px !important;
      width: 100px;
      text-align: center;
    }
  }
}

.ui-widget-overlay {
   background: #333;
   opacity: 0.3;
}
