.indicator-builder {
  padding: 0;
  background: white;
  overflow-x: hidden;
  > table {
    tr {
      border-top: solid 1px #c2c2c2;
      border-bottom: solid 1px #c2c2c2;      
      height: 40px;
      td {
        border: none;
      }
      td:nth-child(1) {
        display: inline-block;
        width: 30%;
        padding: 12px 15px 13px 15px;
        font-weight: 100;
        font-size: 13px;
        border-bottom: 0;
      }
      td:nth-child(2) {
        display: inline-block;
        font-weight: 100;
        font-size: 13px;
        border-bottom: 0;
        width: calc(70% - 60px);;
      }
    }
  }
  .ui-slider {
      height: 2px;
      border: 1px solid #2A3052;
      position: relative;
      top: 27px;
      box-sizing: border-box;
      padding: 0 3px 0 5px;
      .ui-state-focus {
         outline: none;
      }
     .ui-slider-handle {
       border: none;
       text-align: center;
       border-radius: 3px;
       width: 30px;
       font-size: 11px;
       position: relative !important;
       top: -25px !important;
       text-align: center !important;
       margin-left: -20px !important;
       height: 18px !important;
       background: transparent;
       color: #2A3052;
       &:after {
          content: ' ';
          width: 10px;
          height: 10px;
          position: absolute;
          top: 20px;
          left: 10px;
          background-color: #2A3052;
          border-radius: 5px;
          transition: all 0.3s;
       }

       &.ui-state-hover, &.ui-state-active {
          font-weight: bold;
          &:after {
             width: 14px;
             height: 14px;
             border-radius: 7px;
             top: 18px;
             left: 8px;
          }
       }
     }
  }

  .colorpicker-td {
     .sp-replacer {
        box-sizing: border-box;
        width: 100%;
        border: none;
        padding: 0;
        background: none;
        .sp-preview {
           width: 100%;
           border: none;
           margin: 7px 0;
           background: none;
           .sp-preview-inner {
              top: 0 !important;
              border-radius: 3px;
              border: 3px solid rgba(0,0,0,0.1);
              transition: all 0.3s linear;
           }
        }
        .sp-dd {
          display: none;
        }
     }
  }


  .cp-slider {
      height: 12px;
      margin-top: 5px;
      border: none;
      margin: 0;
  }

  .dash-styles {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     .dd-container {
        width: 100% !important;
        .dd-select {
          width: 100% !important;
          margin-top: 7px;
        }
        .dd-options {
          width: 100% !important;
          margin: 0;
        }
        li {
           line-height: 1em;
           margin: 0;
        }
        img { 
          max-width: 260px; 
          max-height: 4px;
          width: calc(100% - 25px);
        }
     }
  }


  .applied-to, .price, .matype {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #2A3052;
    border-radius: 3px;
    margin: 7px 0;
      div {
       flex-grow: 1;
       text-align: center;
       font-size: 11px;
       cursor: pointer;
       transition: all 0.3s linear;
       color: #2A3052;
     }
     div.selected {
       background-color: #2A3052;
       color: white;
     }
  }
  .price div {
     font-size: 10px;
  }

  .levels-tr td:nth-child(2) {
    text-align: center;
    button { line-height: 10px; }
  }
  table.levels {
     span.circle-close {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url('./images/circle-close.svg');
        background-repeat: round;
        cursor: pointer;
     }
     tr td {
        padding: 12px 0 13px 15px;
        text-align: center;
        font-weight: 100;
     }
  }

  .levels-dash-style {
    width:50px;
    overflow: hidden;
    height: 10px;
    position: relative;
    top: 10px;
    margin: auto;
    background-repeat: no-repeat;
  }

  .levels-dialog {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    padding-top: 5px;
    background: white;
    tr td:nth-child(1) {
       max-width: 40%;
       font-size: 13px;
    }

    table tr:last-child td {
      text-align: center;
      button { margin: 0 3px;}
    }
    button {
      line-height: 10px;
    }
  }

  .levels-dialog:before {
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
    content: "";
    left: 68%;
    position: relative;
    top: -32px;
  }
  input {
     transition: border 0.7s, background-color 0.7s;
     &.invalid {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.2);
     }
  }
  [data-balloon] {
     border-bottom: 0px;
     cursor: pointer;
     &:before {
        font-size: 0.8em;
        border: none;
        box-shadow: none;
        border-radius: 0px;
        left: -10px;
        bottom: 12px;
     }
     &:after {
        bottom: 12px;
     }
  }

  input[type=range] {
	  -webkit-appearance: none;
	  width: 100%;
	  outline: none;
	  margin: 10px 0;
	  box-sizing: border-box;
  }
  input[type=range] + div {
    top: 2px !important;
  }
  input[type=range]:focus {
	  outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 3px;
	  cursor: pointer;
	  background: #2a3052;
	  border-radius: 0px;
	  border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-webkit-slider-thumb {
	  border: 1px solid #000000;
	  height: 16px;
	  width: 16px;
	  border-radius: 9px;
	  background: #ffffff;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -6.7px;
  }
  input[type=range]::-moz-range-thumb {
	  border: 1px solid #000000;
	  height: 16px;
	  width: 16px;
	  border-radius: 9px;
	  background: #ffffff;
	  cursor: pointer;
  }
  input[type=range]::-ms-thumb {
	  border: 1px solid #000000;
	  height: 16px;
	  width: 16px;
	  border-radius: 9px;
	  background: #ffffff;
	  cursor: pointer;
	  height: 3px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #333a63;
  }
  input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 3px;
	  cursor: pointer;
	  background: #2a3052;
	  border-radius: 0px;
	  border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-ms-track {
	  width: 100%;
	  height: 3px;
	  cursor: pointer;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	  background: #212641;
	  border: 0.2px solid rgba(1, 1, 1, 0);
	  border-radius: 0px;
  }
  input[type=range]::-ms-fill-upper {
	  background: #2a3052;
	  border: 0.2px solid rgba(1, 1, 1, 0);
	  border-radius: 0px;
  }
  input[type=range]:focus::-ms-fill-lower {
	  background: #2a3052;
  }
  input[type=range]:focus::-ms-fill-upper {
	  background: #333a63;
  }
}

.indicator-builder {
   .image { text-align: center; }
}

.action_btn {
  text-align: right;
  height: 40px;
  margin: 15px 15px 15px 0;
  font-size: 14px;
  a:hover, a:active, a:visited:hover, a:visited:active {
    text-decoration: none;
  }
  .button {
    margin-right: 15px;
  }
}
