.indicator-dialog {
  .background-color {
    background: #2A3052;
  }
}
.header-bar {
  z-index: +1;
  position: absolute;
  width: 100%;
  overflow: hidden;
  .categories {
    display: inline-flex;
    height: 100%;
    font-size: 14.4px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 0 0 0 -3px;
    &.disabled {
      pointer-events: none;
      cursor: default;
      color: lightgray;
    }
    &:not(:last-child) {
      cursor: pointer;
    }
    &.text {
      width: 22.5%;
    }
    &.icon {
      width:9.7%;
      position: absolute;
      right: 5px;
      input {
        display: none;
      }
      .search {
        padding: 12px 12px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: svg("images/ic-search.svg");
        background-repeat: no-repeat;
        background-position: 12px 12px;
        background-size: 16px 16px;
        box-sizing: border-box;
        cursor: pointer;
      }
      transition: width .3s linear 0s;
      &.active {
        width: 100%;
        left: 3px;
        input {
          display: inline-block;
          padding-left: 5px;
          font-size: 12px;
          color: #fff;
          line-height: 15px;
          border-bottom: 1px #fff solid !important;
          border-right: none;
          border-left: none;
          border-top: none;
          border-radius: 0px;
          line-height: 18px;
          margin-top: 8px;
          outline: none;
          opacity: 0.9;
          width: calc(100% - 80px);
          font-weight: 100;
          box-shadow: none;
        }
        .search {
          background-image: svg("images/close-white.svg");
        }
      }
    }
    span {
      line-height: 40px;
      height: 40px;
      width: 100%;
      display: block;
      &.active {
        box-sizing: border-box;
        border-bottom: 4px solid #e98024;
      }
    }
  }
  .title, .tabs {
    height: 40px;
    width: 100%;
    display: block;
    line-height: 40px;
    color: #fff;
    .back-arrow {
      width: 12px;
      height: 12px;
      margin: 14px 15px 14px 15px;
      display: inline-block;
      background-image: svg('images/back-arrow-w.svg');
      background-repeat: round;
    }
    .text {
      font-size: 16px;
      font-weight: 100;
      position: absolute;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      width: calc(100% - 60px);
    }
    .tab {
      display: inline-block;
      width: 49%;
      font-size: 14.4px;
      font-weight: 400;
      text-align: center;
      &.active {
        line-height: 30px;
        border-bottom: 4px solid #e98024;
      }
    }
  }
}

.view {
  margin-top:40px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 40px);
  position: absolute;
  &.indicator {
    overflow-y: hidden;
    > div {
      margin: 15px 15px 0 15px;
      font-size: 13px;
      color: #293055;
      font-weight: 100;
      line-height: 1.4em;
    }
    #settings {
      margin: 0;
      height: calc(100% - 40px);
      overflow-y: scroll;
    }
  }
  &[rv-show="route.value | eq 'active'"], &[rv-show="route.value | eq 'favorites'"] {
    .types .type {
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  .types {
    .type {
      > span{
        padding-left: 15px;
        &.title {
          width: 100%;
          height: 100%;
          display: block;
          line-height: 40px;
          font-size: 18px;
          font-weight: 500;
          text-align: left;
          color: #000000;
          border-bottom: 1px solid #c2c2c2;
          border-top: 1px solid #c2c2c2;
        }
      }
      div {
        min-height: 40px;
        span {
          &.display_name {
            display: inline-flex;
            font-size: 13px;
            color: #293055;
            opacity: 0.8;
            width: calc(100% - 154px);
            padding: 7px 10px 13px 15px;
            font-weight: 100;
            line-height: 1.4em;
          }
          &.option-0 {
            margin-top: 10px;
            width: auto;
            height: 16px;
            font-size: 11px;
            display: inline-block;
            position: absolute;
            right: 77px;
            color: #e98024;
            padding: 2px 6px 0px 6px;
            border-radius: 4px;
            border: 1px solid #e98024;
          }
          &.option-1 {
            background-repeat: no-repeat;
            margin-top: 12px;
            width: 16px;
            height: 16px;
            display: inline-block;
            position: absolute;
            right: 46px;
            &.edit {
              background-image: svg("images/ic-edit.svg");              
            }
          }
          &.option-2 {
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-top: 12px;
            margin-left: 15px;
            position: absolute;
            right: 15px;
            &.empty-star {
              background-image: svg("images/favorite-normal.svg");
              cursor: pointer;
            }
            &.full-star {
              background-image: svg("images/favorite-active.svg");
              cursor: pointer;
            }
            &.remove {
              background-image: svg("images/close-blue.svg");              
            }
          }
        }
      }
      .empty {
        text-align: center;        
        > span {
          color: #000;
          font-size: 13px;
          display: block;
        }
        > a {
          display: block;
          &:first-of-type > span {
            margin-top: 20px;
          }
          &:last-of-type > span {
            width: 168.43px;
          }
        }
      }
    }
  }
  .types:last-of-type {
    .type div span.question-mark[data-balloon] {
      &:before {
        transform: translate(-90%, -115%);
      }
      &:after {
        visibility: hidden;
      }
    }
  }
}
