.mobile-chart {
    $scroll-bar-height: 7px;

    .highcharts-scrollbar-button {
        fill: transparent;
        stroke: transparent;
        height: $scroll-bar-height;
    }

    .highcharts-scrollbar-arrow {
        fill: transparent;
    }

    .highcharts-scrollbar-thumb {
        height: $scroll-bar-height;
        rx: $scroll-bar-height;
        ry: $scroll-bar-height;
    }

    .highcharts-scrollbar-track {
        height: $scroll-bar-height;
        rx: $scroll-bar-height;
        ry: $scroll-bar-height;
    }

    .highcharts-scrollbar-rifles {
        stroke: transparent;
    }
}